.results-button {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    gap: 200px;
}

@media screen and (max-width: 768px) {
  .results-button {
      gap: 100px;
    }
  }
  
@media screen and (max-width: 480px) {
    .results-button {
        flex-direction: column;
        gap: 20px;
    }
}
  